* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;

  font-family: "Satoshi", sans-serif;
}

body {
  height: 100vh;
  background-color: #060910;
}

header {
  height: 12%;
  border-bottom: 1px solid #232833;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4vh;
}

.logo {
  width: fit-content;
  height: 100%;
  /* padding-left: 3vh; */
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: -0.04em;
  color: #f5f7fa;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

nav {
  width: 35%;
  height: 100%;
  /* padding: 0 10%; */
  display: flex;
  justify-content: center;
  margin-right: 100px;
}

nav ul {
  color: #f5f7fa;
  width: 100%;
  /* background-color: black   ; */
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav a {
  text-decoration: none;
  color: #f5f7fa;
}

nav li {
  transition: all 0.3s ease;
}
nav li:hover {
  transform: scale(1.02) translateY(-3px);
  font-weight: bold;
}

.btn {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1% 2%;
  text-decoration: none;
  font-weight: bold;
  color: #f5f7fa;
  border: 1px solid #232833;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  transform: translate(0, -5px);
  background-color: #f5f7fa;
  color: #0d1117;
}

.btn span {
  transition: 0.3s;
  color: purple;
  /* font-size: 130%; */
}

/* Main Section */

main {
  background: linear-gradient(#232833, #232833) bottom / 90% 1px no-repeat;
  height: 68%;
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 5rem;
  /* border-bottom: 1px solid #232833; */
}

.hero-content {
  /* background-color: #f5f7fa; */
  color: #f5f7fa;
  height: inherit;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5%;
  margin: 0 5%;
}

.hero-content h1 {
  font-size: 330%;
}

.hero-content button {
  width: fit-content;
  padding: 3%;
  border-radius: 10px;

  color: #f5f7fa;
  background-color: rgb(121, 4, 255);
  transition: all 0.3s ease;
}

.hero-content button a {
  color: #f5f7fa;
  text-decoration: none;
  font-weight: bold;
  font-size: 110%;
}

.hero-content button:hover {
  transform: scale(1.05) translateY(-5px);
  cursor: pointer;
}

.hero-illustration {
  flex: 1;
  display: flex;
  justify-content: center;
  width: fit-content;
  height: 98%;
  margin-right: 5%;
}

.hero-illustration img {
  width: 100%;
  max-width: 600px;
}

/* Footer Section */
footer {
  /* background-color: aqua; */
  color: #f5f7fa;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 1% 0; */
}

footer a {
  text-decoration: none;
}

footer img {
  width: 90px;
  height: 30px;
}

.companies {
  height: 100%;
  width: 50%;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
