* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.main-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 12vh 8vh 1fr;
  grid-template-areas: 
  "header"
  "navbar"
  "content";
}

/* header */
.main-header {
  grid-area: header;
  background-color: lightgray;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-header img {
  width: 10vh;
  border-radius: 50%;
  box-shadow:
    0 0 25px black,
    0 0 30px #fff;
}
.main-header p{
  font-size: 1.5rem;
}

/* navbar */
.main-nav {
  grid-area: navbar;
  background-color: rgba(31, 31, 31, 0.4);
  position: sticky;
  top: 0;
}
.nav-item {
  height: 8vh;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-item .nav-link {
  text-decoration: none;
  color: #fff;
  padding: 2.2vh;
  margin: 3vh;
  flex: 0;
}
.nav-item .nav-link:hover {
  background-color: rgba(256, 256, 256, 0.4);
  color: #000;
  border-bottom: 2px solid blue;
}

/* main-content */
.main-content {
  grid-area: content;
  background-image: url(../images/black-laptop-screen-dark-room-night.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 5px;
  color: chartreuse;
}

.main-content-p1 {
  margin: 22vh 0 5vh 0;
  font-size: 2.5rem;
}


